h1{
    color:bisque;
    background-color: brown;
}
h2{
    color:blue;
    background-color: rgb(120, 216, 198);
}
h3{
    color:rgb(175, 74, 138);
    background-color: rgb(4, 50, 42);
}
p1{
    color:rgb(174, 230, 114);
    background-color: rgb(7, 12, 67);
}