h1{
    color: aqua;
    background-color: brown;
}
h2{
    color: blue;
    background-color: beige;
}
h3{
    color: black;
    background-color: chartreuse;
}
p1{
    color: darkgreen;
    background-color:aliceblue;
}